<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/378ba6fe-13ca-4566-9070-dcedd8831315/resourcegroups/RestoranBot2/providers/Microsoft.Web/sites/SkillBotApplication120190522092137</ResourceId>
    <ResourceGroup>RestoranBot2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://skillbotapplication120190522092137.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>skillbotapplication120190522092137.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SkillBotApplication120190522092137</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SkillBotApplication120190522092137</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=restoranbot.database.windows.net;Initial Catalog=RestoranBot;Persist Security Info=True;User ID=BurakToprak;Password=7pfH45skB8" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SkillBotApplication1.EF.DataContext, SkillBotApplication1" MigrationConfiguration="SkillBotApplication1.Migrations.Configuration, SkillBotApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DbConnection-Web.config Connection String">
      <ParameterValue>Data Source=restoranbot.database.windows.net;Initial Catalog=RestoranBot;Persist Security Info=True;User ID=BurakToprak;Password=7pfH45skB8</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>